body {  
  font-family: sans-serif;
  width:100%;
  background-image: linear-gradient(rgba(12, 120, 139, 0.9),rgba(0,8,51,0.9)), url(wallpaper.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;

}

.box h1{
  background:none;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: 550;
}

.box{
  width: 300px;
  padding: 65px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(255,255,255,0.3);
  text-align: center;
  outline: solid;
  outline-color: rgb(34, 119, 136);
  border-radius: 50px;

}

.box input[type="text"],.box input[type="password"],.box select{
border: 0;
background:rgb(255, 255, 255,0.5);
display: block;
margin: 20px auto;
text-align: center;
border: 2px solid rgb(46, 162, 185);
padding: 14px 10px;
width: 200px;
outline: none;
color:rgb(0, 0, 0) ;
border-radius: 24px;
transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus,.box select:focus{
  width: 280px;
  border-color: rgba(0, 0, 0, 0.5);

}

.box input[name="submit"]{
  border: 0;
  background: rgb(255, 255, 255,0.5);
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid rgb(46, 162, 185);
  padding: 10px 10px;
  width: 100px;
  outline: none;
  color: black ;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[name="submit1"],a[id="acc"]{
  border: 0;
  background: none;
  display: block;
  margin: 2px auto;
  text-align: center;

  padding: 5px 5px;
  width: 190px;
  outline: none;
  color: rgb(30, 30, 30) ;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[name="submit"]:hover{
  background: #3385bc;

}
.box input[name="submit1"]:hover,a[id="acc"]:hover{
  background: #5199c9;

}


/*For radio*/

.wrapper{

display: inline-flex;
background:none;
height: 10px;
width: 300px;
align-items: center;
justify-content: space-evenly;



}
.wrapper .option{
background:rgb(255, 255, 255,0.5);
height: 250%;
width: 300%;
display: flex;
align-items: center;
justify-content: space-evenly;
margin: 0 15px;
border-radius: 5px;
cursor: pointer;
padding: 0 40px;
border: 2px solid rgb(46, 162, 185);
transition: all 0.3s ease;
text-align: center;
border-radius: 24px;

}


input[type="radio"]{
display: none;

}
#option1:checked:checked ~ .option1,
#option2:checked:checked ~ .option2{

border-color: #304c5e;
background: #3385bc;
}


.wrapper .option span{
font-size: 20px;
color: #454545; 
}

#option1:checked:checked ~ .option1 span,
#option2:checked:checked ~ .option2 span{
color: rgba(0, 0, 0, 0.7);

}

/*-----------------------*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label.logo img{
  position: absolute;
  height: auto;
  width: 78px;
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
nav ul li a{
    font-size: 20px;
  }
a:hover,a.active{
    background: none;
    color: #0082e6;
  }
#check:checked ~ ul{
    left: 0;
  }
}
