body {
    background-image: url('wallpaper.jpg');
    text-align: left;
}

h1{
    color: black;
    margin: 100px;
    font-size: 50px;
}
form{
    margin: 100px;
}
label{
    color:black;
    font-size: 25px;
}


